body
{background-color: rgb(221, 157, 248);
font-weight:150;
text-align:left
fonte-style:initial;}

h1 
{font-style: italic;
color: rgb(95, 1, 95);}

h3
{color: rgb(112, 17, 153);
font-weight:200;}

h4
{color: rgb(112, 17, 153);
font-weight:200;}

h3, h4 {margin-bottom: 0%;}
p {margin-top: 0%;}
div {margin: 0%;
     padding: 0;}